# Data preprocessing

## Premier jeu de données

In [4]:
import pandas as pd

In [7]:
df = pd.read_excel('/Users/labess40/dev/projet-patate/back/data/REGIME AG1.xlsx', engine="openpyxl", sheet_name="ALIMENTS LISTE")

In [8]:
df

,ALIMENT,LYS (mg),PROTEINES (g),CALORIES,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ail,363.0,6.0,145.0,NaN,NaN,NaN,NaN,NaN,NaN
2,abricot,69.0,0.9,45.0,NaN,NaN,NaN,NaN,NaN,NaN
3,amande au chocolat,335.0,4.3,168.0,NaN,NaN,NaN,NaN,NaN,NaN
4,amandes,580.0,24.0,611.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
170,yaourt panna cotta saveur U,150.0,1.9,273.0,NaN,NaN,NaN,NaN,NaN,NaN
171,yaourt perle de lait nature,256.0,3.2,115.0,NaN,NaN,NaN,NaN,NaN,NaN
172,yaourt petit suisse,900.0,9.1,136.0,NaN,NaN,NaN,NaN,NaN,NaN
173,yaourt petits filous,328.0,4.1,131.0,NaN,NaN,NaN,NaN,NaN,NaN
174,yaourt viennois nestlé,250.0,3.1,139.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_final = df[df.columns[:4]]
df_final = df_final.dropna(axis=0, how="all")
df_final = df_final.fillna(0)

In [11]:
df_final.columns = ["ALIMENT", "LYS", "PROTEINES", "CALORIES"]

In [20]:
df_final

                         ALIMENT    LYS  PROTEINES  CALORIES
1                            ail  363.0        6.0     145.0
2                        abricot   69.0        0.9      45.0
3             amande au chocolat  335.0        4.3     168.0
4                        amandes  580.0       24.0     611.0
5                         ananas   35.0        0.5      59.0
..                           ...    ...        ...       ...
170  yaourt panna cotta saveur U  150.0        1.9     273.0
171  yaourt perle de lait nature  256.0        3.2     115.0
172          yaourt petit suisse  900.0        9.1     136.0
173         yaourt petits filous  328.0        4.1     131.0
174       yaourt viennois nestlé  250.0        3.1     139.0

[174 rows x 4 columns]

In [14]:
df_final.to_csv('/Users/labess40/dev/projet-patate/back/data/aliments.csv', index=False)

## Deuxième jeu de données

In [105]:
import pandas as pd
path = r"/Users/labess40/dev/projet-patate/back/data/table_nat_2020.xls"

df = pd.read_excel(path)

In [106]:
df[ "Glucides (g/100 g)"]

0       36,6
1       7,74
2        6,4
3       3,95
4        9,9
        ...
3181    12,5
3182    88,3
3183    81,1
3184    73,3
3185      85
Name: Glucides (g/100 g), Length: 3186, dtype: object

In [107]:
columns = ["alim_nom_fr", "Energie, Règlement UE N° 1169/2011 (kcal/100 g)", "Protéines, N x 6.25 (g/100 g)", "Glucides (g/100 g)", "Lipides (g/100 g)", "Fructose (g/100 g)", "Sucres (g/100 g)", "Galactose (g/100 g)", "Glucose (g/100 g)", "Lactose (g/100 g)", "Maltose (g/100 g)", "Saccharose (g/100 g)", "Amidon (g/100 g)"]

In [108]:
df_columns_filter = df[columns]
renamed_columns = ["ALIMENT", "ENERGIE", "PROTEINES", "GLUCIDES", "LIPIDES", "FRUCTOSE", "SUCRES", "GALACTOSE", "GLUCOSE", "LACTOSE", "MALTOSE", "SACCHAROSE", "AMIDON"]
df_columns_filter.columns = renamed_columns
df_columns_filter

,ALIMENT,ENERGIE,PROTEINES,GLUCIDES,LIPIDES,FRUCTOSE,SUCRES,GALACTOSE,GLUCOSE,LACTOSE,MALTOSE,SACCHAROSE,AMIDON
0,Dessert (aliment moyen),NaN,"4,61","36,6","12,9","1,81","23,7",NaN,"2,18","1,89","1,07","15,7","9,53"
1,"Salade de thon et légumes, appertisée",-,"9,15","7,74","4,7","0,82","3,08",-,"0,78",-,"< 0,3","0,97","4,1"
2,"Salade composée avec viande ou poisson, appert...",-,"8,06","6,4","5,3","0,7","1,9",-,"0,6","< 0,2","< 0,2","0,6","3,3"
3,"Champignons à la grecque, appertisés",-,"2,08","3,95","3,55","0,7","2,38",-,1,"< 0,3","< 0,3","0,3","0,99"
4,"Salade de pommes de terre, fait maison",-,"2,68","9,9","8,2",-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3181,Dessert lacté infantile nature sucré ou aux fr...,100,"3,13","12,5","3,5","1,13","9,26","0,54","1,15","2,44","0,15","3,85","2,2"
3182,"Céréales instantanées, poudre à reconstituer, ...",393,"5,1","88,3","1,7","0,4","12,7",-,"4,3","< 0,2","2,3","5,7","44,5"
3183,"Céréales instantanées, poudre à reconstituer, ...",391,10,"81,1",2,"1,3","32,8",-,"8,97","0,8","11,3","10,5",36
3184,Biscuit pour bébé,439,"7,5","73,3","12,3","0,62","24,8","< 0,1","0,32","1,08","0,22","22,6","39,1"
3185,Poudre cacaotée pour bébé,396,"8,5",85,"1,9","< 0,2","44,5",-,"11,2","< 0,2",6,"27,2","16,1"

In [109]:
df_columns_filter.isna().sum()

ALIMENT        0
ENERGIE       17
PROTEINES      1
GLUCIDES       1
LIPIDES        1
FRUCTOSE      39
SUCRES         9
GALACTOSE     84
GLUCOSE       38
LACTOSE       45
MALTOSE       41
SACCHAROSE    38
AMIDON        36
dtype: int64

In [110]:
without_nan_df = df_columns_filter.dropna()
for column in filter(lambda x : x!='Aliment', renamed_columns):
    without_nan_df[column] = without_nan_df[column].replace('-', "0")

without_nan_df

/var/folders/21/b_d74zx567v6lvf8gnmcn52m0000gn/T/ipykernel_18084/796407851.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_nan_df[column] = without_nan_df[column].replace('-', "0")

,ALIMENT,ENERGIE,PROTEINES,GLUCIDES,LIPIDES,FRUCTOSE,SUCRES,GALACTOSE,GLUCOSE,LACTOSE,MALTOSE,SACCHAROSE,AMIDON
1,"Salade de thon et légumes, appertisée",0,"9,15","7,74","4,7","0,82","3,08",0,"0,78",0,"< 0,3","0,97","4,1"
2,"Salade composée avec viande ou poisson, appert...",0,"8,06","6,4","5,3","0,7","1,9",0,"0,6","< 0,2","< 0,2","0,6","3,3"
3,"Champignons à la grecque, appertisés",0,"2,08","3,95","3,55","0,7","2,38",0,1,"< 0,3","< 0,3","0,3","0,99"
4,"Salade de pommes de terre, fait maison",0,"2,68","9,9","8,2",0,0,0,0,0,0,0,0
5,"Taboulé ou Salade de couscous, préemballé",179,"4,88","23,7","6,7",2,"4,9","< 0,2","1,5","< 0,2","1,4","< 0,2","17,7"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3181,Dessert lacté infantile nature sucré ou aux fr...,100,"3,13","12,5","3,5","1,13","9,26","0,54","1,15","2,44","0,15","3,85","2,2"
3182,"Céréales instantanées, poudre à reconstituer, ...",393,"5,1","88,3","1,7","0,4","12,7",0,"4,3","< 0,2","2,3","5,7","44,5"
3183,"Céréales instantanées, poudre à reconstituer, ...",391,10,"81,1",2,"1,3","32,8",0,"8,97","0,8","11,3","10,5",36
3184,Biscuit pour bébé,439,"7,5","73,3","12,3","0,62","24,8","< 0,1","0,32","1,08","0,22","22,6","39,1"
3185,Poudre cacaotée pour bébé,396,"8,5",85,"1,9","< 0,2","44,5",0,"11,2","< 0,2",6,"27,2","16,1"

In [111]:
def filterNumeric(str_value) :
    try :
        return re.findall(r'([\d,.]+)',str_value)[0].replace(',', '.')
    except :
        return "0"

In [112]:
import re

for column in renamed_columns[1:] :
    without_nan_df[column] = pd.to_numeric(without_nan_df[column].apply(lambda x : filterNumeric(str(x))))

without_nan_df

/var/folders/21/b_d74zx567v6lvf8gnmcn52m0000gn/T/ipykernel_18084/3052947479.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  without_nan_df[column] = pd.to_numeric(without_nan_df[column].apply(lambda x : filterNumeric(str(x))))

,ALIMENT,ENERGIE,PROTEINES,GLUCIDES,LIPIDES,FRUCTOSE,SUCRES,GALACTOSE,GLUCOSE,LACTOSE,MALTOSE,SACCHAROSE,AMIDON
1,"Salade de thon et légumes, appertisée",0.0,9.15,7.74,4.70,0.82,3.08,0.00,0.78,0.00,0.30,0.97,4.10
2,"Salade composée avec viande ou poisson, appert...",0.0,8.06,6.40,5.30,0.70,1.90,0.00,0.60,0.20,0.20,0.60,3.30
3,"Champignons à la grecque, appertisés",0.0,2.08,3.95,3.55,0.70,2.38,0.00,1.00,0.30,0.30,0.30,0.99
4,"Salade de pommes de terre, fait maison",0.0,2.68,9.90,8.20,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,"Taboulé ou Salade de couscous, préemballé",179.0,4.88,23.70,6.70,2.00,4.90,0.20,1.50,0.20,1.40,0.20,17.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3181,Dessert lacté infantile nature sucré ou aux fr...,100.0,3.13,12.50,3.50,1.13,9.26,0.54,1.15,2.44,0.15,3.85,2.20
3182,"Céréales instantanées, poudre à reconstituer, ...",393.0,5.10,88.30,1.70,0.40,12.70,0.00,4.30,0.20,2.30,5.70,44.50
3183,"Céréales instantanées, poudre à reconstituer, ...",391.0,10.00,81.10,2.00,1.30,32.80,0.00,8.97,0.80,11.30,10.50,36.00
3184,Biscuit pour bébé,439.0,7.50,73.30,12.30,0.62,24.80,0.10,0.32,1.08,0.22,22.60,39.10
3185,Poudre cacaotée pour bébé,396.0,8.50,85.00,1.90,0.20,44.50,0.00,11.20,0.20,6.00,27.20,16.10

In [113]:
without_nan_df.to_csv('/Users/labess40/dev/projet-patate/back/data/aliments2_2020.csv', index=False)

# Intake calcul

In [7]:
from src.aliment import Aliment
from src.configuration import Configuration

Configuration("./data/aliments.csv")

ail = Aliment("ail", 300)
ananas = Aliment("ananas", 300)

In [9]:
ail.proteines

18.0

In [8]:
Aliment._instances

{'ananas': <src.aliment.Aliment at 0x10b463050>,
 'ail': <src.aliment.Aliment at 0x106381090>}

# Menu definition

In [1]:
from back import Menu
from back import Configuration

Configuration("/Users/labess40/dev/projet-patate/back/data/aliments.csv")

food_dict = {"abricot":80, "amandes":100}#, "pignons de pins":100}

menu = Menu(food_dict)
menu.intakes

{'proteines': 24.72, 'lysine': 635.2, 'calories': 647.0}

# Database

In [1]:
from sqlalchemy import create_engine, MetaData

engine = create_engine("postgresql+psycopg2://postgres:postgres@172.21.0.2:5432/foodDB")
conn = engine.connect()
add_data = []

data = conn.execute("SELECT * FROM weekMenus").fetchall()